params {
    // Salmon
    salmonLibType = ''

    // directories
    baseDirReports = "${launchDir}/reports"
    baseDirData    = "${launchDir}/data"

    // skip processes
    skipReadsQC    = false
    skipTrimReads  = false
    skipRawFastQC  = false
    skipTrimFastQC = false

    // max resources
    maxCpus   = 16
    maxMemory = '24.GB'
    maxTime   = '24.h'
}

singularity {
    enabled = true
}

/*
Include other config files
*/

// Load resources config file
includeConfig 'configs/resources.config'


/*
Sharing
*/

manifest {
    author = 'Trevor F. Freeman'
    defaultBranch = 'main'
    description = 'Trial analysis of some bovine RNA-seq dataset'
    homePage = 'https://github.com/trev-f/bovine_rnaseq_trial'
    mainScript = 'main.nf'
    name = 'Bovine RNA-seq trial'
    nextflowVersion = '>=22.04'
    version = '0.1.0'
}


/*
Reporting
*/

timestamp = new java.util.Date().format('yyyy-MM-dd_HH-mm')

dag {
    enabled = true
    file    = "${params.baseDirReports}/tracing/${timestamp}_dag.html"
}

report {
    enabled = true
    file    = "${params.baseDirReports}/tracing/${timestamp}_report.html"
}


timeline{
    enabled = true
    file    = "${params.baseDirReports}/tracing/${timestamp}_timeline.html"
}


trace {
    enabled = true
    file    = "${params.baseDirReports}/tracing/${timestamp}_trace.html"
}
