params {
    // directories
    baseDirReports = "${launchDir}/reports"
    baseDirData    = "${launchDir}/data"

    // skip processes
    skipReadsQC   = false
    skipRawFastQC = false
}

singularity {
    enabled = true
}


/*
Reporting
*/

timestamp = new java.util.Date().format('yyyy-MM-dd_HH-mm')

dag {
    enabled = true
    file    = "${params.baseDirReports}/tracing/${timestamp}_dag.html"
}

report {
    enabled = true
    file    = "${params.baseDirReports}/tracing/${timestamp}_report.html"
}


timeline{
    enabled = true
    file    = "${params.baseDirReports}/tracing/${timestamp}_timeline.html"
}


trace {
    enabled = true
    file    = "${params.baseDirReports}/tracing/${timestamp}_trace.html"
}
