params {
    // run info
    runName = ''

    // trimming
    adapterFasta = "${projectDir}/data/empty.fasta"

    // Salmon
    salmonLibType = ''

    // sample reads
    readsSampleSize = 2_500_000

    // directories
    baseDirReports = "${launchDir}/reports"
    baseDirData    = "${launchDir}/data"

    // skip processes
    skipReadsQC          = false
    skipTrimReads        = false
    skipRawFastQC        = false
    skipTrimFastQC       = false
    skipSalmon           = false
    skipSampleReadsSTAR  = false
    skipSTAR             = false
    skipFeatureCounts    = false
    skipConcatenateLanes = false

    forceAlignRawReads = false

    // max resources
    maxCpus   = 16
    maxMemory = '64.GB'
    maxTime   = '24.h'
}


profiles {
    dev {
        // reference info
        params.assembly       = 'SRAlign-test'
        params.genome         = 'https://github.com/trev-f/SRAlign-test/raw/rnaseq/data/references/R64-1-1/genome_I.fa.gz'
        params.transcriptome  = 'https://github.com/trev-f/SRAlign-test/raw/rnaseq/data/references/R64-1-1/transcriptome_I.fa.gz'
        params.annotationsGTF = 'https://github.com/trev-f/SRAlign-test/raw/rnaseq/data/references/R64-1-1/annotations_I.gtf.gz'

        // max resources
        params.maxCpus   = 1
        params.maxMemory = '4.GB'
        params.maxTime   = '15.m'

        // misc
        params.readsSampleSize = 10_000
    }

    pe {
        params.design = 'https://github.com/trev-f/SRAlign-test/raw/rnaseq/samplesheets/samplesheet_pe.csv'
        params.runName = 'paired-end'
    }

    se {
        params.design = 'https://github.com/trev-f/SRAlign-test/raw/rnaseq/samplesheets/samplesheet_se.csv'
        params.runName = 'single-end'
    }

    mix {
        params.design = 'https://github.com/trev-f/SRAlign-test/raw/rnaseq/samplesheets/samplesheet_mix.csv'
        params.runName = 'mixed-paired-single'
    }
}


singularity {
    enabled    = true
    cacheDir   = "${SCRATCHDIR}/singularity"
    autoMounts = true
}


/*
Include other config files
*/

// Load resources config file
includeConfig 'configs/resources.config'

// Load containers config file
includeConfig 'configs/containers.config'

// Load arguments for commands
includeConfig 'configs/args.config'


/*
Sharing
*/

manifest {
    author = 'Trevor F. Freeman'
    defaultBranch = 'main'
    description = 'Trial analysis of some bovine RNA-seq dataset'
    homePage = 'https://github.com/trev-f/bovine_rnaseq_trial'
    mainScript = 'main.nf'
    name = 'Bovine RNA-seq trial'
    nextflowVersion = '>=22.04'
    version = '0.4.1'
}


/*
Reporting
*/

timestamp = new java.util.Date().format('yyyy-MM-dd_HH-mm.ss')

dag {
    enabled = true
    file    = "${params.baseDirReports}/tracing/${timestamp}_dag.html"
}

report {
    enabled = true
    file    = "${params.baseDirReports}/tracing/${timestamp}_report.html"
}


timeline{
    enabled = true
    file    = "${params.baseDirReports}/tracing/${timestamp}_timeline.html"
}
