process {
    withLabel: 'agat' {
        container = 'quay.io/biocontainers/agat:1.0.0--pl5321hdfd78af_0'
    }
    withLabel: 'base' {
        container = 'biocontainers/biocontainers:v1.2.0_cv2'
    }
    withLabel: 'fastp' {
        container = 'quay.io/biocontainers/fastp:0.23.2--h79da9fb_0'
    }
    withLabel: 'fastqc' {
        container = 'biocontainers/fastqc:v0.11.9_cv8'
    }
    withLabel: 'multiqc' {
        container = 'ewels/multiqc:v1.14'
    }
    withLabel: 'qualimap' {
        container = 'https://depot.galaxyproject.org/singularity/qualimap%3A2.2.2d--hdfd78af_2'
    }
    withLabel: 'rseqc' {
        container = 'quay.io/biocontainers/rseqc:5.0.1--py38hbff2b2d_0'
    }
    withLabel: 'salmon' {
        container = 'quay.io/biocontainers/salmon:1.10.1--h7e5ed60_0'
    }
    withLabel: 'samtools' {
        container = 'quay.io/biocontainers/samtools:1.15--h1170115_1'
    }
    withLabel: 'seqtk' {
        container = 'quay.io/biocontainers/seqtk:1.3--h7132678_4'
    }
    withLabel: 'star' {
        container = 'quay.io/biocontainers/star:2.7.10a--h9ee0642_0'
    }
    withLabel: 'subread' {
        container = 'https://depot.galaxyproject.org/singularity/subread:2.0.1--h7132678_2'
    }
}
